
<div class="page-bar">
	 <ul class="page-breadcrumb">
		<li><a href="index.html">Report</a> <i class="fa fa-circle"></i></li>
		<li><a href="index.html">Operation Dashboard</a></li>
	</ul>
	  <ul  class="page-breadcrumb" style='color: #c14067;background:black;float:right;'>
	    <li> <img src="./img/FP.png" alt="logo" class="logo-default" height="30" width="150"  /> </li>
	 </ul>
	 
	
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->

<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<div class="row" ng-controller="OperationalController">

	<div class="col-md-12">
		<div class="row">
			
		 	<div class="col-md-12">
 				<h1 class="page-title" style='color: #c14067'>
					<i class="icon-users" style='color: #c14067'></i> Operation
					Dashboard
 				</h1>
				   
			</div>
			 
		</div>
	</div>

	<div class="col-md-12">
	
	 
	<div class="row">
		<div class="col-md-6 col-sm-6" >
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 8px;">
				<div class="portlet-title" >
					<div class="caption caption-md" >
						<i class="icon-settings font-green"></i> <span
							class="caption-subject font-green bold uppercase" style="font-size: 8px;">Most Popular Order Time Frame(All Channels)</span>  
					</div>
					<div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 <div class="actions">
						<div class="form-group">
 						    <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a>
 						    <select ng-model="selected"  ng-change="getdata(selected)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
                    
                     
				</div>
				<div class="portlet-body">
					<div id="firstgraph"></div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
		
		<div class="col-md-6 col-sm-6">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered "  style="font-size: 8px;">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-red"></i> <span
							class="caption-subject font-red bold uppercase" style="font-size: 8px;">Total Order Count per day per Channel</span>  
					</div>
					 <div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 <div class="actions">
						<div class="form-group">
 						   <a href="javascript:;" > Date : {{ Showdate | date:'yyyy-MM-dd'}} PST</a>
 						   <select ng-model="selected2"  ng-change="getdata2(selected2)" >
 						   	<option ng-repeat="x in date" value="{{x.value}}">{{x.model}}</option>
 						   </select>
						</div> 
                    </div>
				</div>
				<div class="portlet-body">
					<div id="secondgraph"></div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	</div>
	
	<div class="col-md-6 col-sm-6">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 8px;">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-green"></i> <span
							class="caption-subject font-green bold uppercase" style="font-size: 8px;">Order detail per Date per Channel</span>  
					</div>
					 <div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 
				</div>
				<div class="portlet-body">
					<div id="thirdgraph"></div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	
	<div class="col-md-6 col-sm-6">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered " style="font-size: 8px;">
				<div class="portlet-title">
					<div class="caption caption-md">
						<i class="icon-bar-chart font-red"></i> <span
							class="caption-subject font-red bold uppercase" style="font-size: 8px;">Total Order Count per Distance(Road Miles) </span>  
					</div>
					 <div class="tools">
                   			 <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                     </div>
                 	 
				</div>
				<div class="portlet-body">
					<div id="fourthgraph"></div>
				</div>
			</div>
			<!-- END PORTLET-->
		</div>
	
	
	</div>
</div>



